body {
    font-family: Arial, sans-serif;
    background-image: url('https://images.pexels.com/photos/2166711/pexels-photo-2166711.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'); /* Nature background image */
    background-size: cover;
    background-position: center;
    color: #333;
    margin: 0;
}

header {
    background-color: #ffa500; /* Orange color for header */
    color: white;
    padding: 1em;
    text-align: center;
}

main {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Light white background for main section */
    border-radius: 10px;
}

.info {
    margin-bottom: 20px;
}

.theory {
    margin: 20px 0;
}

.results {
    background-color: #ffffff; /* White color for results */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #ffa500; /* Orange color for footer */
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

